/*****************************************************************************/
/*
/* Author Specific
/*
/*****************************************************************************/
.color-it-red {
  color: #d2322d;
}
html {
  font-family: "Capriola", "Helvetica Neue", "Times New Roman";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0;
}
#landing {
  display: table;
  height: 100%;
  min-height: 100%;
  width: 100%;
  color: white;
  text-align: center;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/dasj2.png");
}
#landing .landing-vertical-inner {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
  text-align: center;
}
#landing .footer {
  position: absolute;
  bottom: 40%;
  width: 100%;
}
#landing .footer .title-container {
  background-color: #f1c40f;
}
#landing .footer .name-container {
  background-color: #e67e22;
}
#landing .footer .more-love {
  /*width: 100px;*/
  height: 120px;
  margin: auto;
  padding: 20px;
  /*background-color: #272727;*/
}
#landing .footer .more-love h1 {
  font-size: 50px;
}
#landing .footer .more-love h2 {
  font-size: 30px;
}
#landing .footer .more-love .fa {
  font-size: 30px;
}
@include color-it-red();
#photos {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 5;
  -webkit-column-gap: 0px;
  -moz-column-count: 5;
  -moz-column-gap: 0px;
  column-count: 5;
  column-gap: 0px;
}
#photos .img-cont img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}
@media (max-width: 1200px) {
  #photos {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4;
  }
}
@media (max-width: 1000px) {
  #photos {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}
@media (max-width: 800px) {
  #photos {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }
}
@media (max-width: 400px) {
  #photos {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }
}
#timeline {
  padding: 30px;
  text-align: center;
  background-color: #272728;
}
#timeline .header {
  padding-bottom: 20px;
}
#timeline .temp-append img {
  /*margin: 10px;*/
}
#test {
  width: 100%;
  height: 100%;
}
